<div class='cen-jus'>
  <p>You are logged in as {{$window.sessionStorage.currentUser.first_name}} <a ng-click='loginCtrl.logout()' ui-sref='home'>Logout</a> </p>
  <h2>You Are Here!</h2>
  <h4>see others nearby</h4>


  <ng-map center='current-position' geo-fallback-center='[40.74, -74.18]' geo-callback='usersCtrl.getCurrentLocation("you")'>

    <marker ng-repeat="user in usersCtrl.allUsers" position="[{{user.current_location.lat}}, {{user.current_location.lng}}]"></marker>
    <!-- <marker position='current' centered='true'></marker> -->

  </ng-map>


</div>


<!-- on-click="showData()"; -->
<!--
data="{{data[$index]}}"
title="pos: {{p.pos}}" -->
